{{ template "header.html" . }}
<div class="div-header">Control Panel</div>
<div class="body-padded">
	<h2>Config</h2>
	<form method="POST" action="/update-config">
		Configuration is done via TOML.
		<textarea id="config" name="config" class="post-entry">{{.ConfigTOML}}</textarea>
		<input type="hidden" name="CSRF" value="{{.CSRFToken}}"><br>
		<button type="submit">Save</button>
	</form>

	<h2>Forums</h2>
	<table>
      <tr><th>ID</th><th>Name</th></th><th>Description</th><th>Read Permissions</th><th>Write Permissions</th></tr>
	{{ range .Forums }}
	<tr><td>{{ .ID }}</td><td>{{ .Name }}</td><td>{{ .Description }}</td>
      <td>{{.ReadPermissions }}</td>
      <td>{{.WritePermissions }}</td>
		<td><a href="/f/{{.Slug}}/edit">edit</a></td></tr>
	{{ end }}
	</table>
	New Forum:
	<form method="POST" action="/forum/new"><input id="name" name="name"></input>
		<button type="submit">Create</button>
	</form>
	<br>
	<h2>Users</h2>
	<table>
		<th>ID</th><th>Username</th><th>Role</th><th>Actions</th>
	{{ range .Users }}
	<tr>
		<td>{{.ID}}<td>{{ .Username }}</td>
		<td>{{.Role}}</td>
			<td>
				<form method="POST" action="/user/{{.ID}}/set-role">
				<select name="action" id="action">
				<option value="inactive">Inactive</option>
				<option value="user">User</option>
				<option value="mod">Mod</option>
				<option value="admin">Admin</option>
				</select>
				<input type="hidden" name="CSRF" value="{{$.CSRFToken}}">
				<button type="submit" id="submit">Set Role</button>
				</form>
	</tr>
	{{ end }}
	</table>
</div>
{{ template "footer.html" . }}
