{{ template "header.html" . }}
<div class="div-header">Control Panel</div>
<div class="body-padded">
	<h2>Config TODO</h2>
	<h2>Forums TODO</h2>
	{{ range .Forums }}
	{{ .ID }} {{ .Name }} {{ .Description }}
	{{ end }}
	<form><input id="name" name="name"></input></form>
	<h2>Users</h2>
	<table>
		<th>ID</th><th>Username</th><th>Role</th><th>Active</th><th>Actions</th>
	{{ range .Users }}
	<tr>
		<td>{{.ID}}<td>{{ .Username }}</td>
		<td>{{.Role}}</td>
		<td> {{ .Active }}</td>
			<td>
				<form method="POST" action="/user/{{.ID}}/administer">
				<select name="action" id="action">
				<option value="ban">Ban (deactivate)</option>
				<option value="unban">Unban (activate)</option>
				<option value="delete">Delete</option>
				<option value="make-mod">Make Mod</option>
				<option value="make-admin">Make Admin</option>
				<option value="make-user">Make Regular User</option>
				</select>
				<input type="hidden" name="CSRF" value="{{$.CSRFToken}}">
				<button type="submit" id="submit">Submit</button>
				</form>
	</tr>
	{{ end }}
	</table>
</div>
{{ template "footer.html" . }}
