{{ template "header.html" . }}
	<div class="div-header">Editing Post {{.Post.ID}}</div>
	<form method="POST">
		<div class="body-padded" >
			<label for="content">Content:</label><br>
			<textarea class="post-entry" required name="content" id="content" placeholder='I have something to say...'>{{.Post.Content}}</textarea><br>
			<a href="https://www.markdownguide.org/cheat-sheet/#basic-syntax">markdown guide</a><br>
				
			<input type="hidden" name="CSRF" value="{{.CSRFToken}}">
			<button type="submit">Save</button>
		</div>
	</form>
{{ template "footer.html" . }}
