{{ template "header.html" . }}
<div class="div-header">Editing Properties for Forum <a href="/f/{{.Forum.Name}}">{{.Forum.Name}}</a></div>
	<form method="POST">
		<div class="body-padded" >
			Description:
			<input id="description" name="description" value="{{.Forum.Description}}"></input><br>
			Read Permissions: 
			<select id="read-permissions" name="read-permissions">
				<option value="admin" {{ if eq .Forum.ReadPermissions "admin"}}selected{{end}}>Admin-Only</option>
				<option value="mod" {{ if eq .Forum.ReadPermissions "mod"}}selected{{end}}>Moderator-Only</option>
				<option value="user" {{ if eq .Forum.ReadPermissions "user"}}selected{{end}}>User-Only</option>
				<option value=""{{ if eq .Forum.ReadPermissions ""}}selected{{end}}>Anyone</option>
            </select><br>
			Write Permissions: 
            <select id="write-permissions" name="write-permissions">
				<option value="admin" {{ if eq .Forum.WritePermissions "admin"}}selected{{end}}>Admin-Only</option>
				<option value="mod" {{ if eq .Forum.WritePermissions "mod"}}selected{{end}}>Moderator-Only</option>
				<option value="user" {{ if eq .Forum.WritePermissions "user"}}selected{{end}}>User-Only</option>
			</select>
            <br>
			<input type="hidden" name="CSRF" value="{{.CSRFToken}}">
			<button type="submit">Save</button>
			<a href="/control">Back</a>
		</div>
	</form>
{{ template "footer.html" . }}
