{{ template "header.html" . }}
<main>
{{ template "pagelist.html" . }}
{{ if not (len .Threads) }}
<p>No threads in this forum yet. Be the first to create one!</p>
{{ else }} 
  {{ range .Threads }}
		<a class="title-link" href="/f/{{$.Forum.Slug}}/{{.ID}}">{{.Title}}</a><br>
		<div style="color:var(--text-alt)">
			<span class="mobile">Lastest <a href="{{.Latest.Slug}}">{{ timeago .Latest.Created }}</a> by <a href="/u/{{.Latest.Author.Username}}">{{.Latest.Author.Username}}</a></span>
		<span style="color:var(--text-alt)">
		latest <a href="{{.Latest.Slug}}">{{ timeago .Latest.Created }}</a>
		by <b>{{.Latest.Author.Username}}</b>
		</div>
  </tr>
  {{ end }}
{{ end }}
<a href="/thread/new">New Thread</a>
</main>
{{ $pages := pageArr .ItemCount }}
{{ $length := len $pages }}
{{ if ne $length 1 }}
<div class="body-footer">
{{ template "pagelist.html" . }}
</div>
{{ end }}
{{ template "footer.html" . }}
