{{ template "header.html" . }}
<table class="nav-table" id="threads">
  <tr><th style="width:50%">Thread</th><th style="text-align:center;width:4rem;">Replies</th><th style="width:30%">Last Post</th></tr>
  <div class="body-header">
	  <a href="/thread/new?forumid={{.ForumID}}"><button class="top-button">New Thread</button></a>
  {{ template "pagelist.html" . }}
</div>
{{ if not (len .Threads) }}
<tr><td>No threads in this forum yet. Be the first to create one!</td></tr>
{{ else }} 
  {{ range .Threads }}
  <tr>
    <td>
		{{ if .Locked }} {{ template "lock.svg" }} {{ end }}
		{{ if .Pinned }} {{ template "pin.svg" }} {{ end }}
      <a class="title-link" href="/f/general/{{.ID}}">{{.Title}}</a><br>
	  by <a href="/user/{{.Author.ID}}">{{.Author.Username}}</a> <span class="text-alt">{{ timeago .Created }}</span>
    </td>
	<td style="text-align:center;">{{.Replies}}</td>
    <td>
		<a href="/f/general/{{.ID}}#{{.Latest.ID}}">↗</a>
		by <a href="/user/{{.Latest.Author.ID}}">{{.Latest.Author.Username}}</a>
	  <span class="text-alt">{{ timeago .Latest.Created }}</span>
    </td>
  </tr>
  {{ end }}
</td>
</tr>
{{ end }}
</table>
<div class="body-footer">
{{ template "pagelist.html" . }}
</div>
{{ template "footer.html" . }}
