<!DOCTYPE html>
<html dir="ltr" lang="en">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="/style.css">
<title>{{.Title}}</title>
<body>
  <header>
  <div id="page-header">
    <div id="header-title">
      <h1><a href="/">{{.Config.BoardName}}</a></h1>
      {{.Config.BoardDescription}}
    </div>
    <div id="nav">
      {{ if not .User }}
      <a href="/register">Register</a>
      <a href="/login">Login</a>
      {{ else }}
	  Hello, <a href="/me">{{.User.Username}}</a>
	  <a href="/">Logout</a>
      {{ end }}
	  <br>
	<form method="GET" class="form-inline">
		<input style="width:10rem;"></input>	
		<button type="Submit">Search</button>
	</form>
    </div>
  </div>
  </header>
<main>
