<!DOCTYPE html>
<html dir="ltr" lang="en">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="/style.css">
<title>{{.Title}}</title>
<body>
  <header>
  <div id="page-header">
	  <div>
		  <a href="/"><img src="/a?a={{.Config.BoardName}}" width=18px></a>
		  <a href="/" class="title-link">{{.Config.BoardName}}</a><br>
      {{.Config.BoardDescription}}
    </div>
    <div id="nav">
      {{ if not .User }}
      <a href="/register">Register</a>
      <a href="/login">Login</a>
      {{ else }}
	  Hello, <a href="/me">{{.User.Username}}</a>
	  {{ if .User.Role.ModLevel }}<a href="/control">control</a>{{ end }}
	  <form style="display:inline" action="/logout" method="POST"><button class="link-button">Logout</button>
	<input type="hidden" name="CSRF" value="{{.CSRFToken}}">
	  </form>
      {{ end }}
	  <br>
	<form method="GET" action="/search" class="form-inline">
		<input id="query" name="q" style="width:10rem;"></input>	
		<button type="Submit">Search</button>
	</form>
    </div>
  </div>
  </header>
<main>
