<table class="nav-table" id="forums">
  <tr><th style="width:66%">Forum</th><th style="width:33%">Last Post</th></tr>
  <tr>
    <td>
      <a class="title-link" href="">Hello! I am a thread</a><br>
      Subtitle
    </td>
    <td>
      <a href="">Thread title</a><br>
      by <a href="">Author</a>
      <br>
      <span>2022-01-01</span>
    </td>
  </tr>
<tr>
<td>
  <a class="title-link" href="">Hello! I am a thread</a><br>
  Subtitle
</td>
<td>
  <a href="">Thread title</a><br>
  by <a href="">Author</a>
  <br>
  2022-01-01
</td>
</tr>

</table>
