<!DOCTYPE html>
<html dir="ltr" lang="en">
	<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{.Config.BoardDescription}}" />
<link rel="stylesheet" type="text/css" href="/style.css">
<title>{{.Title}}</title>
</head>
<body>
    <main style="padding:0.3rem;">
	<div>
	<h1>fishbb</h1>
	<h2>Simple, sustainable communities.</h2> 	<p>Opt out of the attention economy and focus on what's important: building robust, sustainable digital communities. 
	</p>
    <p>The attention economy has gotten people used to communication that is fast, immediate, and always-online. What if we pursued an alternative that was slow and stable?</p>
	<p><b><a href="/forum/new">Create</a> a new discussion board for free today.</p></b>

	<p>Here are some that exist:</p>
	{{range .Forums}}
		<a href="/{{.Slug}}">{{.Name}}</a><br>
	{{end}}
	</div>
    </main>
</body>
{{ template "footer.html" . }}
