{{ template "header.html" . }}
<table class="nav-table" id="forums">
	<tr><th style="width:60%">Forum</th><th class="hide-mobile">Threads</th><th class="hide-mobile" style="width:30%">Last Post</th></tr>
  {{ range .Forums }}
  <tr>
    <td>
      <a class="title-link" href="/f/{{.Slug}}">{{.Name}}</a><br>
      {{.Description}}
    </td>
	<td style="text-align:center;" class="hide-mobile" style="text-align:center;">{{.ThreadCount}}</td>
    <td class="hide-mobile">
		<a href="{{.LastPost.Slug}}">{{ timeago .LastPost.Created }}</a> 
		by <a href="/u/{{.LastPost.Author.Username}}">{{.LastPost.Author.Username}}</a><br>
		in <a href="/f/{{.Slug}}/{{.LastPost.ThreadID}}">{{.LastPost.ThreadTitle}}</a><br>
    </td>
  </tr>
  {{ end }}
</td>
</tr>
</table>
{{ template "footer.html" . }}
