{{ template "header.html" . }}
<table class="nav-table" id="forums">
	<tr><th style="width:50%">Forum</th><th style="text-align:center;" class="hide-mobile">Threads</th><th class="hide-mobile" style="width:30%">Last Post</th></tr>
  {{ range .Forums }}
  <tr>
    <td>
	  {{.Description}}<br>
	  <span class="mobile">Threads: <b>{{.ThreadCount}}</b> (Last post <a href="{{.LastPost.Slug}}">{{ timeago .LastPost.Created }}</a>) </span>
    </td>
	<td class="hide-mobile" style="text-align:center;">{{.ThreadCount}}</td>
    <td class="hide-mobile">
		<span style="color:var(--text-alt)">
		{{ if .LastPost.ID }}<a href="{{.LastPost.Slug}}">{{ timeago .LastPost.Created }}</a> 
		by <a href="/u/{{.LastPost.Author.Username}}">{{.LastPost.Author.Username}}</a><br>
		in <a href="/f/{{.Slug}}/{{.LastPost.ThreadID}}">{{.LastPost.ThreadTitle}}</a><br>
		</div>
		{{else}}No posts yet!
		{{ end }}
    </td>
  </tr>
  {{ end }}
</td>
</tr>
</table>
{{ template "footer.html" . }}
