{{ template "header.html" . }}
<div class="div-header">Login</div>
<div class="body-padded">
<form action="/dologin" method="POST">
<label for="username" >Username:</label><br>
<input type="text" name="username" required autocomplete=off><br>
<label for="password">Password:</label><br>
<input type="password" name="password" required><br>
{{ if .LoginErr }}
<span class="error">{{ .LoginErr }}</span><br>
{{ end }}
<button name="login" value="login">Login</button>
</form>
No account yet? <a href="/register">Register!</a>
{{ template "footer.html" . }}
