{{ template "header.html" . }}
<main>
	<h2>New Post in <a href="/f/{{.Forum.Slug}}/{{.Thread.ID}}">{{.Thread.Title}}</a></h2>
	{{ if .Notice }}
		<div class="notice">{{.Notice}}</div>
	{{ end }}
    <form method="POST">
        <div class="body-padded" >
			<label for="content">Content:</label><br>
			<textarea class="post-entry" required name="content" id="content" placeholder='I have something to say...'>{{ .Content }}</textarea><br>
			<a href="https://admin.flounder.online/gemini_text_guide.gmi">gemtext guide</a><br>
				
			<input type="hidden" name="CSRF" value="{{.CSRFToken}}">
            <button type="submit">Create</button>
        </div>
    </form>
</main>
{{ template "footer.html" . }}
