{{ template "header.html" . }}
	<div class="div-header">Creating Thread in <a href="/f/{{.Forum.Slug}}">{{.Forum.Name}}</a></div>
    <form method="POST">
        <div class="body-padded" >
			<label for="title">Thread Title:</label><br>
			<input required name="title" type="text" id="Title"><br>
			<label for="content">Content:</label><br>
			<textarea class="post-entry" required name="content" id="content" placeholder='I have something to say...'></textarea><br>
			<a href="https://admin.flounder.online/gemini_text_guide.gmi">gemtext guide</a><br>
			<input type="hidden" name="CSRF" value="{{.CSRFToken}}">
            <button type="submit">Create</button>
        </div>
    </form>
{{ template "footer.html" . }}
