{{ template "header.html" . }}
<main>
  <div class="div-header">Creating Thread in {{.Forum.Name}}</div>
    <form method="POST">
        <div class="body-form" >
			<label for="title">Thread Title:</label><br>
			<input required name="title" type="text" id="Title"><br>
			<a href="https://www.markdownguide.org/cheat-sheet/#basic-syntax">markdown guide</a>
			<label for="content">Content:</label><br>
			<textarea required name="content" id="content" placeholder='I have something to say...'></textarea><br>
            <button type="submit">Create</button>
        </div>
    </form>
</main>
{{ template "footer.html" . }}
