{{ template "header.html" . }}
<div class="div-header">Register new user</div>
<div class="body-padded">
<form method="POST">
<label for="username">Username:</label><br>
<input tabindex=1 type="text" name="username" id="username" autocomplete=off><br>
<label for="password">Password:</label><br>
<input tabindex=1 type="password" id="password" name="password"><br>
<label for="password2">Repeat Password:</label><br>
<input tabindex=1 type="password" id="password2" name="password2"><br>
<button tabindex=1 name="register" value="register">Register</button>
</form>
</div>
{{ template "footer.html" . }}
