:root {
  --text: #000;
  --text-inverse: #fff;
  --text-alt: #677;
  --bg: #fff;
  --bg-inverse: #222;
  --bg-alt: #eee;
  --border: #000;
}

.text-alt {
    color: var(--text-alt)
}

button:not(.link-button) {
  box-shadow: black 2px 2px;
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--bg-inverse);
  font-size: 16px;
}

.top-button {
  margin: 0.3rem;
}

.post-entry {
  width: 90%;
  height: 200px;
  margin: 0.3rem;
}

.post-body {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.post-body h1,h2,h3,h4,h5 {
  font-size: 16px;
}

input {
  border: 1px solid black;
}

button:hover:not(.link-button) {
  color: var(--text-inverse);
  background-color: var(--bg-inverse);
}

body {
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  font-size:16px;
  color: var(--text);
  margin: auto;
  font-family: "Roboto", Helvetica, Arial, Sans-serif;
  word-wrap: break-word;
  line-height: 1.5;
  max-width: 1000px;
}

.form-inline {
  display:inline;
}
#page-header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

footer {
  padding: 0.4rem;
  font-size: 14px;
  border-top: 1px solid var(--border);
  text-align:center;
  color: var(--text-alt);
}

.nav-table th {
  text-align: left;
  font-weight: normal;
}

.subtle {
  color: var(--text-alt);
}

.nav-table {
  width: 100%;
}

.title-link {
  font-size: 1.3rem;
  font-weight: bold;
}

table.nav-table {
  border-collapse: collapse;
  table-layout: fixed;
}

a {
  color: var(--text);
}

.nav-table tr:nth-child(even) td { background-color: var(--bg-alt); }
.nav-table th { background-color: var(--bg-inverse); color: var(--text-inverse);}
.div-header { 
  padding: 0.2rem;
  font-weight: bold;
  background-color: var(--bg-inverse); color: var(--text-inverse);
}
.div-header a {
  color: var(--text-inverse);
}

a:hover {
  text-decoration: none;
}

.nav-table td, th {
  padding: 0.2rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.post {
  border-top: 1px solid var(--bg-inverse);
}

.post-meta { 
  /* TODO -- make perfect */
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid lightgray;
  background: var(--bg-alt);
  display: flex;
  justify-content: space-between;
}
.body-padded {
  padding: 0.4rem;
}

.link-button {
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
}

.link-button:hover {
  text-decoration: none;
}
