:root {
  --text: #000;
  --bg: #fff;
  --bg-inverse: #222;
  --bg-alt: #eee;
  --border: #000;
  --link: #0066cc;
  --link-hover: #004499;
}
  
@media(prefers-color-scheme: dark) {
  :root {
    --text: #e7e7e7;
    --bg: #0d0d0d;
    --bg-inverse: #ccc;
    --bg-alt: #1c1c1c;
    --border: #888;
    --link: #66b3ff;
    --link-hover: #99ccff;
  }
}


svg {
  fill: var(--text);
  height: auto;
  vertical-align:middle;
  display: inline;
}

button:not(.link-button) {
  /* box-shadow: var(--border) 2px 2px; */
  font-weight: bold;
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
  font-size: 16px;
}

.emph {
  color: var(--text);
  font-weight: bold;
}

.notice {
  background-color: var(--bg-alt);
  display: inline-block;
  padding: 0.1rem;
  font-size: 14px;
}   

.padded-button {
  margin: 0.3rem;
}

.post-entry {
  width: 80%;
  height: 200px;
  margin: 0;
}

.post-title {
  width: 80%;
  margin: 0;
}

:target {
  background-color: var(--bg-alt);
}

.post-body {
}

.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
  font-size: 1em;
}

.post-body p {
  margin-top: 0px;
  margin-bottom: 0.2rem;
}


blockquote {
  margin: 0.2rem;
  box-sizing:border-box;
  font-style: italic;
  border-left: .3em solid var(--bg-inverse);
  padding-left: 0.3rem;
}

.error {
  font-weight: bold;
}

input {
  border: 1px solid var(--border);
  background: inherit;
  color: inherit;
  border-radius: 0px;
}

textarea {
  color: inherit;
  background: inherit;
  border: 1px solid var(--border);
  border-radius: 0px;
}

body {
  font-size:16px;
  background: var(--bg);
  color: var(--text);
  margin: auto;
  font-family: "Roboto", Helvetica, Arial, Sans-serif;
  word-wrap: break-word;
  line-height: 1.5;
  max-width: 950px;
}

.form-inline {
  display:inline;
}


header {
  margin-bottom: 1rem;
}

#page-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-between {
  justify-content: space-between;
  display: flex;
}

.flex-end {
  justify-content: flex-end ;
  display: flex;
}

.body-header {
  display: flex;
  justify-content: space-between;
  line-height: 1.8rem;
}

.body-footer {
  display: flex;
  justify-content: flex-end;
  padding: 0.2rem;
}

footer {
  padding: 0.4rem;
  font-size: 0.8em;
  text-align:right;
}


.title-link {
  font-size: 1.2em;
  font-weight: bold;
}


a {
  color: var(--link);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

body {
  padding: 0.3rem 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.post {
  padding: 0.0rem 0.3rem;
  margin-bottom: 1rem;

}

.link-button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-size: inherit;
  display: inline;
  color: var(--link);
  font-weight: 500;
  text-decoration: none;
}

.link-button:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

.alert {
  background: var(--bg-alt);
  font-style: italic;
  padding: 0.3rem;
}

pre {
    line-height: 1.2;
    font-size: 1rem;
    overflow: auto;
    word-wrap:normal;
}

#nav {
  text-align: right;
  flex-grow: 1;
}

.mobile {
  display:none;
}

@media only screen and (max-width: 600px) {
  .hide-mobile {
    display:none;
  }
  body {
    font-size: 16px;
    border: 0px;
  }
  .mobile {
    display: inherit;
  }
  input {
    line-height:1.5;
    padding: 0.2rem;
    font-size: 1.1rem;
  }
  button {
    line-height:1.5;
    padding: 0.2rem;
  }

  .post-entry,.post-title {
    width: 100%;
    box-sizing:border-box;
  }

  .post-title {
    font-size: 1.2rem;
  }
  .post-entry {
    font-size: 1.1rem;
  }
}

