:root {
  --text: #000;
  --text-inverse: #fff;
  --text-alt: #777;
  --bg: #fff;
  --bg-inverse: #222;
  --bg-alt: #ddd;
  --border: #000;
}

@media(prefers-color-scheme: dark) {
  :root {
    --text: #e7e7e7;
    --text-inverse: #000;
    --text-alt: #999;
    --bg: #0d0d0d;
    --bg-inverse: #ccc;
    --bg-alt: #161616;
    --border: #444;
  }
}

svg {
  fill: var(--text);
  height: auto;
  vertical-align:middle;
  display: inline;
}

button:not(.link-button) {
  /* box-shadow: var(--border) 2px 2px; */
  font-weight: bold;
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
  font-size: 14px;
}

.notice {
  background-color: var(--bg-alt);
  display: inline-block;
  padding: 0.1rem;
  font-size: 14px;
}   

.padded-button {
  margin: 0.3rem;
}

.post-entry {
  width: 90%;
  height: 200px;
  margin: 0.3rem;
}

:target {
  background-color: var(--bg-alt);
}

.post-body {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
}

.post-body h1,h2,h3,h4,h5 {
  font-size: 16px;
}

.error {
  font-weight: bold;
}

input {
  border: 1px solid var(--border);
  background: inherit;
  color: inherit;
}

textarea {
  color: inherit;
  background: inherit;
  border: 1px solid var(--border);
}

button:hover:not(.link-button) {
  color: var(--text-inverse);
  background-color: var(--bg-inverse);
}

body {
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  font-size:16px;
  background: var(--bg);
  color: var(--text);
  margin: auto;
  font-family: "Roboto", Helvetica, Arial, Sans-serif;
  word-wrap: break-word;
  line-height: 1.5;
  max-width: 950px;
}

.form-inline {
  display:inline;
}

#page-header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
}

.flex-between {
  justify-content: space-between;
  display: flex;
}

.flex-end {
  justify-content: flex-end ;
  display: flex;
}

.body-header {
  display: flex;
  justify-content: space-between;
  line-height: 1.8rem;
}

.body-footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--border);
  padding: 0.2rem;
}

footer {
  padding: 0.4rem;
  font-size: 14px;
  border-top: 1px solid var(--border);
  text-align:center;
  color: var(--text-alt);
}

.nav-table th {
  text-align: left;
  font-weight: normal;
}

.subtle {
  color: var(--text-alt);
}

.nav-table {
  width: 100%;
}

.title-link {
  font-size: 1.3rem;
  font-weight: bold;
}

table.nav-table {
  border-collapse: collapse;
  table-layout: fixed;
}

a {
  color: var(--text);
}

.nav-table tr:nth-child(even) td { background-color: var(--bg-alt); }
.nav-table th { background-color: var(--bg-inverse); color: var(--text-inverse);}
.div-header { 
  padding: 0.2rem;
  font-weight: bold;
  background-color: var(--bg-inverse); color: var(--text-inverse);
}
.div-header a {
  color: var(--text-inverse);
}

a:hover {
  text-decoration: none;
}

.nav-table td, th {
  padding: 0.2rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.post {
  border-top: 1px solid var(--border);
}

.post-meta { 
  /* TODO -- make perfect */
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid var(--border);
  background: var(--bg-alt);
  display: flex;
  justify-content: space-between;
}
.body-padded {
  padding: 0.4rem;
}

.link-button {
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  font-size: inherit;
  color:inherit;
  display: inline;
}

.link-button:hover {
  text-decoration: none;
}

.notice {
}


/* google garbage -- TODO clean up this crap */
.gsi-material-button {
  box-sizing: border-box;
  color: #1f1f1f;
  font-size: 14px;
  height: 40px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.shortpost {
  border-bottom: 1px solid var(--border);
  padding: 0.3rem;
}
