:root {
  --text: #000;
  --text-inverse: #fff;
  --text-alt: #777;
  --bg: #fff;
  --bg-inverse: #222;
  --bg-alt: #eee;
  --border: #000;
}

button {
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--bg-inverse);
  font-size: 16px;
  margin: 0.2rem;
}

input {
  border: 1px solid black;
}

button:hover {
  color: var(--text-inverse);
  background-color: var(--bg-inverse);
}

body {
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  font-size:16px;
  color: var(--text);
  margin: auto;
  font-family: "Roboto", Helvetica, Arial, Sans-serif;
  word-wrap: break-word;
  line-height: 1.5;
  max-width: 1000px;
}

.form-inline {
  display:inline;
}
#page-header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

footer {
  padding: 0.4rem;
  font-size: 14px;
  border-top: 1px solid var(--border);
  text-align:center;
  color: var(--text-alt);
}

.nav-table th {
  text-align: left;
  font-weight: normal;
}

.subtle {
  color: var(--text-alt);
}

.nav-table {
  width: 100%;
}

.title-link {
  font-size: 1.3rem;
  font-weight: bold;
}

table.nav-table {
  border-collapse: collapse;
  table-layout: fixed;
}

a {
  color: var(--text);
}

.nav-table tr:nth-child(even) td{ background-color: var(--bg-alt) }
.nav-table th { background-color: var(--bg-inverse); color: var(--text-inverse);}
.div-header { 
  padding: 0.2rem;
  font-weight: bold;
  background-color: var(--bg-inverse); color: var(--text-inverse);
}


a:hover {
  text-decoration: none;
}

.nav-table td, th {
  padding: 0.2rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.post {
  border: 1px solid var(--bg-inverse);
}
.post-meta { 
  border-bottom: 1px solid lightgray;
  background: var(--bg-alt);
}

.post-body {
  padding: 0.4rem;
}

.body-form {
  padding: 0.4rem;
}
