:root {
  --text: #000;
  --text-light: #ccc;
  --bg: #fff;
  --bg-dull: #eee;
  --bg-bright: #fff;
  --border: #000;
  --link: #0066cc;
  --link-hover: #004499;
}
  
@media(prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --text-light: #ccc;
    --bg: #141414;
    --bg-dull: #222;
    --bg-bright: #000;
    --link: #8ab4ff;
    --border: #444;
    --link-hover: #99ccff;
  }
}

svg {
  fill: var(--text);
  height: auto;
  vertical-align:middle;
  display: inline;
}

button:not(.link-button) {
  /* box-shadow: var(--border) 2px 2px; */
  font-weight: bold;
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
  font-size: 16px;
}

.notice {
  background-color: var(--bg-alt);
  display: inline-block;
  padding: 0.1rem;
  font-size: 14px;
}

.post-entry {
  width: 80%;
  height: 200px;
  margin: 0;
}

.post-title {
  width: 80%;
  margin: 0;
}

:target {
  background-color: var(--bg-alt);
}

.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
  font-size: 1em;
}

.post-body p {
  margin-top: 0px;
  margin-bottom: 0;
  padding-bottom: 0.3rem;
}

main {
    padding-left: 0.3rem;
}

blockquote {
  margin: 0.2rem;
  box-sizing:border-box;
  font-style: italic;
  border-left: .3em solid var(--border);
  padding-left: 0.3rem;
}

.error {
  font-weight: bold;
}

input {
  border: 1px solid var(--border);
  background: var(--bg-bright);
  color: inherit;
  border-radius: 0px;
}

textarea {
  color: inherit;
  background: inherit;
  border: 1px solid var(--border);
  border-radius: 0px;
}

.light {
  font-size: 0.9rem;
  color: var(--text-light);
}
.light a { color: var(--text-light); }
.light .link-button { color: var(--text-light); }

.bigger { font-size: 1.2rem; }

body {
  font-size:16px;
  background: var(--bg);
  color: var(--text);
  padding: 0.5rem;
  font-family: "Roboto", Helvetica, Arial, Sans-serif;
  word-wrap: break-word;
  line-height: 1.5;
  max-width: 950px;
}

div { margin:0; padding:0;}
main { background: var(--bg); }
header { 
    border-bottom: 1px solid var(--border);
background: var(--bg); }

header {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.3rem;
}

#page-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.body-footer {
  display: flex;
  justify-content: flex-end;
  padding: 0.2rem;
}

footer {
  padding: 0.4rem;
  font-size: 0.8em;
  text-align:right;
}


.title-link {
  font-size: 1.2em;
  font-weight: bold;
}


a {
  color: var(--link);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

body {
  padding: 0.3rem 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.post {
  margin-bottom: 0.0rem;
}

.post + .post {
  margin-top: 0.0rem;
  border-top: 1px solid var(--border);
  padding-top: 0.5rem;
}

.link-button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-size: inherit;
  display: inline;
  color: var(--link);
  font-weight: 500;
  text-decoration: none;
}

.link-button:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

.alert {
  background: var(--bg-alt);
  font-style: italic;
  padding: 0.3rem;
}

.item-list {
    margin-bottom: 1rem;
}

pre {
    line-height: 1.2;
    font-size: 1rem;
    overflow: auto;
    word-wrap:normal;
}

#nav {
  text-align: right;
  flex-grow: 1;
}

.mobile {
  display:none;
}

@media only screen and (max-width: 600px) {
  .hide-mobile {
    display:none;
  }
  body {
    font-size: 16px;
    border: 0px;
  }
  .mobile {
    display: inherit;
  }
  input {
    line-height:1.5;
    padding: 0.2rem;
    font-size: 1.1rem;
  }
  button {
    line-height:1.5;
    padding: 0.2rem;
  }

  .post-title {
    font-size: 1.2rem;
  }
  .post-entry {
    font-size: 1.1rem;
  }
}

