{{ template "header.html" . }}
<div class="body-header">
<a href="/post/new?threadid={{.Thread.ID}}"><button class="top-button">Reply</button></a>
{{ template "pagelist.html" . }}
</div>
<div class="div-header"><a href="/f/{{.Forum.Slug}}">{{.Forum.Name}}</a> > {{.Thread.Title}}
</div>
{{ range .Posts }}
<div class="post" id={{.ID}}>
  <div class="post-meta">
	  <div>
  <img  style="vertical-align:middle" src="/a?a={{.Author.Username}}" width=18>
  <a href="/user/{{.Author.ID}}">{{.Author.Username}}</a> <a href="#{{.ID}}">#</a> <span class="text-alt">{{ timeago .Created}}
	  {{ if .Edited }}<em>(edited {{timeago .Edited}})</em>{{end}}
</span>
	  </div>
	  <div>
		  <a href="/post/{{.ID}}/edit">Edit</a>
		  <form style="display:inline" action="/post/{{.ID}}" method="POST">
			  <input type="hidden" name="_method" value="DELETE"><button class="link-button">Delete</button>
		<input type="hidden" name="CSRF" value="{{$.CSRFToken}}">
		  </form>
	  </div>
  </div>
  <div class="post-body">
  {{ markup .Content }}
  </div>
</div>
{{ end }}
<div class="body-footer">
{{ template "pagelist.html" . }}
</div>
{{ template "footer.html" . }}
