{{ template "header.html" . }}
<div class="h-card">
<div class="div-header">User <span class="p-name">{{.InfoUser.Username}}</span></div>
<div class="body-padded">
	<b>About</b>: <span class="p-note">{{.InfoUser.About}}</span><br>
	<b>Website</b>: {{.InfoUser.Website | addLinkTags }}<br>
	{{ if .InfoUser.EmailPublic }}<b>Email</b>: <a class="u-email" href="mailto:{{.InfoUser.Email}}">{{.InfoUser.Email}}</a><br>{{end}}
	<b>Created</b>: <time class="dt-published" datetime="{{ isodate .InfoUser.Created }}">{{.InfoUser.Created}}</time><br>
	<b>Post Count</b>: {{.InfoUser.Posts}}<br>
	<b>Recent Posts:</b>
</div>
</div>
	{{ template "short-post-list.html" . }}
{{ template "footer.html" . }}
